n8n-workflows/03-morning-briefing.json
{
  "name": "03 — Morning Dev Briefing (Daily 8am Digest)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "triggerAtHour": 8, "triggerAtMinute": 0 }]
        }
      },
      "id": "schedule",
      "name": "Daily 8am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.github.com/repos/{{ $env.GITHUB_REPO }}/pulls",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "state", "value": "open" },
            { "name": "sort", "value": "updated" },
            { "name": "per_page", "value": "10" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer {{ $env.GITHUB_TOKEN }}" },
            { "name": "Accept", "value": "application/vnd.github.v3+json" }
          ]
        },
        "options": {}
      },
      "id": "get-prs",
      "name": "Get Open PRs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 200]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.github.com/repos/{{ $env.GITHUB_REPO }}/issues",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "state", "value": "open" },
            { "name": "sort", "value": "updated" },
            { "name": "per_page", "value": "10" },
            { "name": "since", "value": "={{ new Date(Date.now() - 24*60*60*1000).toISOString() }}" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer {{ $env.GITHUB_TOKEN }}" },
            { "name": "Accept", "value": "application/vnd.github.v3+json" }
          ]
        },
        "options": {}
      },
      "id": "get-issues",
      "name": "Get Recent Issues",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 380]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.COOLIFY_URL }}/api/v1/applications/{{ $env.COOLIFY_APP_UUID }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer {{ $env.COOLIFY_API_TOKEN }}" }
          ]
        },
        "options": {}
      },
      "id": "get-deploy-status",
      "name": "Get Deploy Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 560]
    },
    {
      "parameters": {
        "jsCode": "const prs = $('Get Open PRs').item.json;\nconst issues = $('Get Recent Issues').item.json;\nconst deploy = $('Get Deploy Status').item.json;\n\nconst prList = Array.isArray(prs) ? prs.slice(0, 5).map(p => `- #${p.number} ${p.title} by @${p.user.login}`).join('\\n') : 'None';\nconst issueList = Array.isArray(issues) ? issues.slice(0, 5).map(i => `- #${i.number} ${i.title}`).join('\\n') : 'None';\nconst deployStatus = deploy.status || 'unknown';\n\nreturn {\n  context: `Open PRs (${Array.isArray(prs) ? prs.length : 0}):\\n${prList}\\n\\nRecent Issues:\\n${issueList}\\n\\nDeploy Status: ${deployStatus}`,\n  pr_count: Array.isArray(prs) ? prs.length : 0,\n  issue_count: Array.isArray(issues) ? issues.length : 0,\n  deploy_status: deployStatus\n};"
      },
      "id": "compile-context",
      "name": "Compile Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 380]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{ $env.ANTHROPIC_API_KEY }}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\"model\": \"claude-haiku-4-5-20251001\", \"max_tokens\": 800, \"system\": \"You are a senior dev lead writing a concise morning briefing. Use markdown. Focus on what needs attention TODAY. Be direct and actionable.\", \"messages\": [{\"role\": \"user\", \"content\": \"Write a morning dev briefing based on this data. Today is \" + new Date().toLocaleDateString('en-US', {weekday: 'long', month: 'long', day: 'numeric'}) + \".\\n\\n\" + $json.context + \"\\n\\nFormat: ## Good Morning\\n### 🔥 Needs Attention (urgent items)\\n### 📋 Today's Queue (PRs to review, issues to tackle)\\n### ✅ Status (deploy health)\\n### 💡 Suggestion (one tip)\"}]} }}",
        "options": {}
      },
      "id": "write-briefing",
      "name": "Write Briefing",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [920, 380]
    },
    {
      "parameters": {
        "jsCode": "const briefing = $('Write Briefing').item.json.content[0].text;\nconst date = new Date().toLocaleDateString('en-US', {weekday: 'long', month: 'long', day: 'numeric'});\nreturn { briefing, date, full: `# Dev Briefing — ${date}\\n\\n${briefing}` };"
      },
      "id": "format-briefing",
      "name": "Format",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1140, 380]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.DISCORD_WEBHOOK_URL }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\"content\": $json.full.substring(0, 2000)} }}",
        "options": {}
      },
      "id": "send-discord",
      "name": "Send to Discord",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1360, 280]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.AFFINE_URL }}/api/workspaces/{{ $env.AFFINE_WORKSPACE_ID }}/docs",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer {{ $env.AFFINE_TOKEN }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\"title\": \"Briefing: \" + $json.date, \"content\": $json.full} }}",
        "options": {}
      },
      "id": "save-briefing",
      "name": "Save to AFFiNE",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1360, 480]
    }
  ],
  "connections": {
    "Daily 8am": { "main": [[{ "node": "Get Open PRs", "type": "main", "index": 0 }, { "node": "Get Recent Issues", "type": "main", "index": 0 }, { "node": "Get Deploy Status", "type": "main", "index": 0 }]] },
    "Get Open PRs": { "main": [[{ "node": "Compile Context", "type": "main", "index": 0 }]] },
    "Get Recent Issues": { "main": [[{ "node": "Compile Context", "type": "main", "index": 0 }]] },
    "Get Deploy Status": { "main": [[{ "node": "Compile Context", "type": "main", "index": 0 }]] },
    "Compile Context": { "main": [[{ "node": "Write Briefing", "type": "main", "index": 0 }]] },
    "Write Briefing": { "main": [[{ "node": "Format", "type": "main", "index": 0 }]] },
    "Format": { "main": [[{ "node": "Send to Discord", "type": "main", "index": 0 }, { "node": "Save to AFFiNE", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "meta": {
    "description": "Runs daily at 8am. Pulls open PRs, recent issues, deploy status from GitHub + Coolify. Claude writes a briefing. Sends to Discord + saves to AFFiNE.",
    "env_required": ["GITHUB_REPO", "GITHUB_TOKEN", "COOLIFY_URL", "COOLIFY_API_TOKEN", "COOLIFY_APP_UUID", "DISCORD_WEBHOOK_URL", "AFFINE_URL", "AFFINE_WORKSPACE_ID", "AFFINE_TOKEN", "ANTHROPIC_API_KEY"]
  }
}
