n8n-workflows/04-error-monitor.json
{
  "name": "04 — Error Monitor (Logs → Claude Diagnose → GitHub Issue)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "error-ingest",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "error-webhook",
      "name": "Error Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "notes": "POST from your app: {error, stack, context, severity, app}"
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.severity }}",
              "rightValue": "low",
              "operator": { "type": "string", "operation": "notEquals" }
            }
          ]
        }
      },
      "id": "filter-severity",
      "name": "Skip Low Severity",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{ $env.ANTHROPIC_API_KEY }}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\"model\": \"claude-sonnet-4-20250514\", \"max_tokens\": 1000, \"system\": \"You are a senior backend engineer diagnosing production errors. Be concise and actionable. Output valid JSON only: {\\\"title\\\": string, \\\"root_cause\\\": string, \\\"fix\\\": string, \\\"prevention\\\": string, \\\"severity\\\": \\\"critical|high|medium\\\"}\", \"messages\": [{\"role\": \"user\", \"content\": \"Diagnose this error and return JSON:\\n\\nError: \" + $json.error + \"\\nStack: \" + ($json.stack || 'not provided') + \"\\nContext: \" + JSON.stringify($json.context || {}) + \"\\nApp: \" + ($json.app || 'unknown')}]} }}",
        "options": {}
      },
      "id": "diagnose-error",
      "name": "Claude Diagnose",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "const response = $('Claude Diagnose').item.json.content[0].text;\nconst original = $('Error Webhook').item.json;\nlet diagnosis;\ntry {\n  const cleaned = response.replace(/```json|```/g, '').trim();\n  diagnosis = JSON.parse(cleaned);\n} catch(e) {\n  diagnosis = { title: 'Error: ' + original.error.substring(0, 80), root_cause: response, fix: 'See description', prevention: 'See description', severity: original.severity || 'medium' };\n}\n\nreturn {\n  ...diagnosis,\n  original_error: original.error,\n  original_stack: original.stack,\n  app: original.app,\n  gh_body: `## Error Report\\n\\n**App:** ${original.app || 'unknown'}\\n**Severity:** ${diagnosis.severity}\\n\\n### Original Error\\n\\`\\`\\`\\n${original.error}\\n\\`\\`\\`\\n\\n### Stack Trace\\n\\`\\`\\`\\n${original.stack || 'not provided'}\\n\\`\\`\\`\\n\\n### Root Cause\\n${diagnosis.root_cause}\\n\\n### Suggested Fix\\n${diagnosis.fix}\\n\\n### Prevention\\n${diagnosis.prevention}\\n\\n---\\n_Auto-generated by n8n error monitor_`\n};"
      },
      "id": "format-issue",
      "name": "Format Issue",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.github.com/repos/{{ $env.GITHUB_REPO }}/issues",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer {{ $env.GITHUB_TOKEN }}" },
            { "name": "Accept", "value": "application/vnd.github.v3+json" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\"title\": \"[\" + $json.severity.toUpperCase() + \"] \" + $json.title, \"body\": $json.gh_body, \"labels\": [\"bug\", \"auto-detected\", $json.severity]} }}",
        "options": {}
      },
      "id": "create-issue",
      "name": "Create GitHub Issue",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.DISCORD_WEBHOOK_URL }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\"embeds\": [{\"title\": \"🚨 \" + $json.title, \"description\": $json.root_cause, \"color\": $json.severity === 'critical' ? 15158332 : 16776960, \"fields\": [{\"name\": \"Fix\", \"value\": $json.fix.substring(0, 200)}, {\"name\": \"App\", \"value\": $json.app || 'unknown', \"inline\": true}, {\"name\": \"Severity\", \"value\": $json.severity, \"inline\": true}]}]} }}",
        "options": {}
      },
      "id": "alert-discord",
      "name": "Alert Discord",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 400]
    }
  ],
  "connections": {
    "Error Webhook": { "main": [[{ "node": "Skip Low Severity", "type": "main", "index": 0 }]] },
    "Skip Low Severity": { "main": [[{ "node": "Claude Diagnose", "type": "main", "index": 0 }]] },
    "Claude Diagnose": { "main": [[{ "node": "Format Issue", "type": "main", "index": 0 }]] },
    "Format Issue": { "main": [[{ "node": "Create GitHub Issue", "type": "main", "index": 0 }, { "node": "Alert Discord", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "meta": {
    "description": "Your app POSTs errors here. Claude diagnoses root cause and fix. Creates labeled GitHub issue + Discord alert. Skip low severity errors automatically.",
    "usage": "In your app: fetch('http://n8n:5678/webhook/error-ingest', {method:'POST', body: JSON.stringify({error: err.message, stack: err.stack, context: {url, userId}, severity: 'high', app: 'myapp'})})"
  }
}
